<footer class="footer">
           <div class="footer1">
            <h1>&emsp;Contents</h1>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/rentals">RENTALS</a></li>
                <li><a href="/registration">SIGN-UP</a></li>
                <li><a href="/login">LOGIN</a></li>
            </ul>
            </div>
            <div class="footer1">
                <h1>&emsp;About</h1>
               <p>By submitting this assignment I declare that this assignment is my own work in accordance with the Seneca Academic Policy. No part of this assignment has been copied manually or electronically from any other source (including web sites) or distributed to other students.</p>
                </div>
                <div class="footer2">
                    <div class="footer12"><a href="/"><img id="f1" src="/photos/img1.png"></a></div> 
                    <div class="footer13">
                <h3>&emsp;&emsp;Contact: +1 (437)261-3377</h3>
                 <a href="https://www.facebook.com/"><img src="/photos/fb.png" width="60px" height="60px"></a>
                 <a href="https://www.instagram.com/accounts/login/"><img src="/photos/insta.png" width="60px" height="60px"></a>
                 <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D">&emsp13;<img src="/photos/twitter2.png" width="60px" height="60px"></a>  
                 <a href="https://www.youtube.com/">&emsp13;<img src="/photos/youtube.png" width="60px" height="60px"></a>    
                </div>
            </div> 
           
         </footer>
 <div class="last">
                    <p>© Sahil Deep Singh, sahil-deep-singh@myseneca.ca, WEB322 Winter 2023</p>
         </div>