<!DOCTYPE html>
<html>
    <head>
        <title>Assignment-2: Online Housing System</title>
        <link rel="stylesheet" href="/css/home.css">
        {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> --}}

    </head>
    <body>
     <!--Navbar-->
     {{>navbar}}
     {{{body}}}
  
    <!--Footer-->
    {{>footer}}
       </body>
</html>