
       <!-- <table border="1">
            <tr> 
                <th>Name</th>
                <th>Age</th>
                <th>Occupation</th>
                <th>College</th>
            </tr>
            {{#each somedata}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.age}}</td>
                <td>{{this.occupation}}</td>
                <td>{{this.college}}</td>
            </tr>
            {{/each}}
        </table>-->
        
          <!--Hero-->
              <div class="hero_img"> 
                <img id="hero" src="/photos/hero.jpg">
                <div class="hero_text">
                    <h1>Looking for a rental property, or a house for vacations.</h1>
                </div>
                </div>
             <!--Content Section-->
                <div class="con_sec">
                    <div class="con_v">
                        <div class="con_img">
                            <img src="/photos/trust.png" width="150px" height="150px">
                        </div>
                        <h2>Trust In Us!</h2>
                        <p>We believe in you, because you trusted us.</p>
                    </div>
                    <div class="con_v">
                        <div class="con_img">
                            <img src="/photos/money.png" width="150px" height="150px">
                        </div>
                        <h2>Fair Prices!</h2>
                        <p>We Value your money.</p>
                    </div>
                    <div class="con_v">
                        <div class="con_img">
                            <img src="/photos/deals.png" width="150px" height="150px">
                        </div>
                        <h2>Amazing Deals!</h2>
                        <p>We Know What You are looking for.</p>
                    </div>
                    <div class="con_v">
                        <div class="con_img">
                            <img src="/photos/privacy.png" width="150px" height="150px">
                        </div>
                        <h2>Privacy Matters!</h2>
                        <p>We care for your privacy.</p>
                    </div>
                    
                </div>
     <!--rentals-->
    {{>rental}}
 